/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-top: 60px;
    margin-bottom: 60px;
    color:#EEE;
    background-color: #555;
}
.navbar{
    color: #EEE;
    background-color: #333;
    border-color: #090;
}

.navbar-default .navbar-brand{
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover{
    color: #090;
    background-color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #090;
    color: #fff
}

/* navbar - footer */
a {
    
    color:#fff;
}

a:hover{
    text-decoration: none;
    color:#090;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #333;
}


/* Custom page CSS
-------------------------------------------------- */



h1 {
    padding: 10px 0 10px 10%;
    background-color: #060;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}


body {
    
}
/* nouveautés- etc */
body > .container {
    padding: 60px 15px 0;
}

.container .text-white {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.new {
    float: none;
    max-width: 185px;
    height: 278px;
    border-radius: 5px 5px 0 0;
    background-color: #333;
    border-radius: 5px;
}

.tab-nouveautes {
    width: 100%;
    
}

.tab-nouveautes div:nth-child(1) div.new {
    background: url("https://images-na.ssl-images-amazon.com/images/I/51d9-bzD8JL._SX301_BO1,204,203,200_.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;

}

.tab-nouveautes div:nth-child(2) div.new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/1rF04Kk1eunZHk9OHPFwv8hllRF.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;
}

.tab-nouveautes div:nth-child(3) div.new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/aUC39cFC2KO8CJ0EV0ijIJRr3PT.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;
}

.tab-nouveautes div:nth-child(4) div.new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/qYvCNcMyTouoHvJu0ddStndDSeo.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;
}

.tab-nouveautes div:nth-child(5) div.new {
    background: url("https://image.tmdb.org/t/p/w185_and_h278_bestv2/9I9Yjjneqf2Bm6VmZdqImD7RJ3d.jpg") no-repeat center;
    background-color: #333;
    background-size: contain;

}

.tab-nouveautes > div {
    color: white;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: #FFF;
    
}

.text-new{
    padding: 5px 0px;
}

.row {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right:0px;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

[class^="col-"]{
    padding: 0;
}
